QPushButton {{
  color: {QTMATERIAL_SECONDARYCOLOR};
  background-color: {QTMATERIAL_PRIMARYCOLOR};
  text-transform: none;
  border-radius: 18px;
  opacity: 0.1;
}}

QTabBar {{
  text-transform: none;
}}

QGroupBox {{
  text-transform: none;
}}

#H1 {{
  font-size: 22px;
  font-weight: bold;
}}

#H2 {{
  font-size: 16px;
  font-weight: bold;
}}